.container-form {
  width: auto;
  max-width: 700px;
  margin: auto;
}
.centered {
  margin: auto;
  text-align: center;
}

.display-container {
  max-width: 700px;
  width: auto;
}

.display-button {
  padding: 15px 20px !important;
  font-weight: 600 !important;
  border-radius: 0 !important;
  border-width: 0 !important;
}

.highlight-dashboard {
  background-color: aliceblue;
}

#changeUsernameForm {
  display: none;
}

#changeUsernameButton {
  color: #fff;
}

#changePasswordForm {
  display: none;
}

#changePasswordButton {
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
}

body {
  margin-bottom: 50px;
}
